@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "Noto Sans KR", BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container {
  padding-top: 64px;
  padding-bottom: 48px;
  max-width: 2170px;
  min-width: 360px;
  min-height: calc(90vh - 64px);
  margin-left: auto;
  margin-right: auto;
}
